[Unit]
Description=epub.ts local reader daemon
Documentation=https://github.com/jay-waves/epub.ts

[Service]
Type=simple
ExecStart=/usr/bin/epub.ts daemon
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=default.target
